.contacts {
    padding: 12rem 0;
    text-align: center;
    &-text {
        margin: 3rem 0 4rem 0;
    }
    &-btn {
        .btn-b {
            background: #070707;
            padding: 12px 40px;
            box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.1);
            border-radius: 50px;
            color: #fff;
            font-size: 18px;
        }
    }
    
    &-list {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 30rem;
        margin: 8.5rem auto;
    }
}