.header {
    padding: 9.5rem 0;
    &-content {
        margin: 9rem 0;
    }
    
    &-text {
        position: relative;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: flex-end;
        
        h1 {
            position: absolute;
            font-size: 45px;
            line-height: 59px;
            font-weight: 600;
            bottom: -10px;
        }
        p {
            margin: 0 auto;
        }
    }
    
    &-img {
        margin-top: 5rem;
    }
}