$font: 'Rubik', sans-serif;

html {
    font-size: 10px;
}
body {  
    font-family: $font;

}


.container {
    max-width: 940px;
    margin: 0 auto;
}

p.text-center {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400; 
}

h2.hdr {
    font-family: $font;
    font-size: 34px;
    font-weight: 600;
    line-height: 42px;
    text-align: center;
}
//Цвета
$color-g: #828282;
$text-color: #070707;
$bgr-color: #F6F6F6;
   
.activ {
    color: $text-color;
}