/* Fonts */
@font-face {
  font-family: 'ProximaNova_bold';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Bold.woff2') format('woff2'), url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf') format('truetype'), url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova_reg';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular.woff2') format('woff2'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Жирный шрифт */
/* Нормальный шрифт */
/* Цвета */
/* Основные настроики */
html {
  font-size: 9px;
}
body {
  font-family: 'ProximaNova_reg', sans-serif !important;
  color: #1a1820;
}
section {
  padding: 10rem 0;
}
/* Стиль кнопок */
.btn1 {
  background-color: #fdb303;
  text-transform: uppercase;
  color: #fff;
  font-family: 'ProximaNova_reg', sans-serif;
  font-size: 1.3rem;
  padding: 1.4rem 3rem;
  border-radius: 7px;
  border: none;
}
.btn1:hover {
  cursor: position;
  background-color: #db9a02;
  color: #ededed;
  transform: scale(1.02);
}
h2 {
  font-size: 3.6rem;
  font-family: 'ProximaNova_bold', sans-serif;
  margin-top: 2rem;
}
/* Форма */
.form1 {
  padding: 4rem;
  background: #fff;
  text-align: center;
  font-family: 'ProximaNova_reg', sans-serif;
  /* Заголовок */
}
.form1 .title2 {
  font-size: 1.8rem;
  margin-bottom: 2.4rem;
}
.form1-label {
  position: absolute;
  font-size: 1.3rem;
  background: #fff;
  left: 50%;
  transform: translateX(-50%) translateY(-45%);
  padding: 0.5rem;
}
.form1-input {
  display: block;
  margin: 2.4rem 0;
  width: 100%;
  border: 1px solid #dddddd;
  border-radius: 5px;
  padding: 1.3rem;
  font-size: 1.8rem;
}
.form1-btn {
  display: block;
  width: 100%;
  height: 6rem;
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
}
button:focus,
input:focus,
a:focus,
textarea:focus {
  outline: none;
}
a:hover {
  text-decoration: none;
}
/* 1 секция */
/* Section main */
main {
  padding: 2rem 0;
  background: #fff url(../img/bg.png) center top no-repeat;
}
main-header {
  height: 7rem;
}
/* Main-header */
.tell {
  display: inline-block;
  color: #1a1820;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 2rem;
  height: 7rem;
  line-height: 7rem;
  text-align: right;
}
.wrap {
  text-align: right;
  display: table;
  width: 100%;
  height: 7rem;
}
.wrap-block {
  display: table-cell;
  vertical-align: middle;
}
/* Main - Block 1*/
.display1 {
  color: #1a1820;
  margin-bottom: 3rem;
}
.main-block1 {
  /* Заголовок */
  /* Подзоголовок */
  /* Зеленая шняга */
}
.main-block1-titl1 {
  text-transform: uppercase;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 3.5rem;
  margin: 10rem 0 5rem 0;
  line-height: 5.8rem;
}
.main-block1-text1 {
  font-size: 2.4rem;
}
.main-block1-text2 {
  display: inline-block;
  color: #fff;
  font-size: 1.8rem;
  background: #70c849;
  padding: 3rem 4rem;
  margin: 6rem 0 3.7rem;
}
.main-block1-text2 strong {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 3rem;
}
.main-block1-text3 {
  text-transform: uppercase;
  font-size: 2.2rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.main-block2 {
  margin-top: 10rem;
}
.form1 .p {
  font-size: 1.2rem;
}
/* 2 секция */
/* Секция с преимуществами */
.plus h2 {
  text-align: center;
  margin-bottom: 13rem;
}
.plus-img img {
  display: block;
  margin: 0 auto;
  height: 6.6rem;
}
.plus-block {
  text-align: center;
  margin: 0 1rem;
}
.plus-block h3 {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 2rem;
  margin: 6.9rem 0 3.5rem 0;
}
.plus-block p {
  font-size: 1.6rem;
  display: block;
  margin: 0 auto;
  width: 25rem;
}
/* Настройки слаидера для секций с преимуществами */
.slick-active {
  outline: none;
}
/* Стрелки слаидера */
.arrow {
  position: absolute;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  width: 3rem;
  height: 3rem;
}
.prev {
  left: 0;
  background: url(../img/larrow.svg) center no-repeat;
  background-size: 70%;
}
.next {
  right: 0;
  background: url(../img/rarrow.svg) center no-repeat;
  background-size: 70%;
}
/* 3 секция */
.price {
  background: #70c849 url(../img/bg-green.jpg) center;
  /* Блоки */
}
.price-head {
  text-align: center;
  color: #fff;
}
.price-p {
  font-size: 1.8rem;
  margin: 4rem 0 8rem 0;
}
.price-btn {
  margin-top: 2.5rem;
  box-shadow: 0 8px 13px rgba(0, 0, 0, 0.04);
  text-align: right;
  margin-bottom: 5rem;
}
.price-block {
  width: 100%;
  position: relative;
  padding: 5rem 4.6em;
  text-align: center;
  box-shadow: 0 14px 21px rgba(0, 0, 0, 0.17);
  background-color: #ffffff;
  margin-bottom: 3rem;
}
.price-block h4 {
  font-size: 2rem;
  font-family: 'ProximaNova_bold', sans-serif;
  margin-bottom: 3rem;
}
.price-block img {
  width: 100%;
  height: 200px;
}
.price-block p {
  font-size: 1.9rem;
  font-family: 'ProximaNova_bold', sans-serif;
  margin: 3rem 0;
}
.price-block p strong {
  font-size: 3rem;
}
.price-block-ul {
  height: 20rem;
  line-height: 3rem;
}
.price-block-ul ul {
  list-style-type: none;
  font-size: 1.8rem;
  padding: 0;
}
.price-block-ul ul li:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  background: url(../img/price-block/checked.svg) no-repeat center;
  background-size: 100%;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}
.price-block button {
  font-size: 1.8rem;
  padding: 2rem 5.6rem;
}
/* Секция с отзывами */
.feedback {
  position: relative;
  background: #fff url(../img/feedback/bg.jpg) top left;
  text-align: center;
  /* Настроики фона */
  /* Настройки стрелок  */
}
.feedback-bg {
  position: absolute;
  bottom: 0;
  left: -5rem;
}
.feedback-slider {
  background-color: #fff;
  padding: 5rem;
  margin: 10rem 5rem;
  box-shadow: 0 12px 18px rgba(0, 0, 0, 0.11);
}
.feedback-text {
  text-align: left;
  margin-left: 2rem;
  font-size: 1.6rem;
}
.feedback-text p {
  line-height: 2;
}
.feedback-text .comments {
  margin-top: 5rem;
}
.feedback-text .comments .user-picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #1a1820;
  float: left;
  margin-right: 2rem;
}
.feedback-text .comments .user-info {
  line-height: 0.3;
}
.feedback-text .comments-text {
  margin-top: 3rem;
  border: 2px solid #49bf15;
  padding: 2rem;
}
.feedback-text .comments .triangle {
  position: relative;
  background: #fff;
  width: 1rem;
  height: 2rem;
  border: 2px solid #49bf15;
  border-top-right-radius: 100%;
  border-bottom: none;
  top: 3.2rem;
  left: 3rem;
}
.feedback-form {
  margin: 10rem 0;
}
.feedback-form .form1 {
  text-align: center;
}
.feedback-form .form1 h2 {
  margin-bottom: 3rem;
}
.feedback-form .form1 label {
  top: 2.2rem;
}
.feedback-form .form1-btn {
  margin-top: 3rem;
  display: inline-block;
  width: 28rem;
}
.feedback-btn {
  position: absolute;
  border-radius: 0;
  background-color: #70c849;
  padding: 2rem;
}
.feedback-btn img {
  width: 1.3rem;
  height: 2rem;
}
.feedback-prevbtn {
  top: 50%;
  transform: translateY(-50%);
  left: -3.3rem;
}
.feedback-nextbtn {
  top: 50%;
  transform: translateY(-50%);
  right: -3.3rem;
}
/* Секция "Схема работы" */
.scheme {
  text-align: center;
  background-color: #000;
  background: url(../img/Scheme/bg.png) bottom right no-repeat;
  background-position-x: 80rem;
  background-size: 60%;
  padding-bottom: 5rem;
}
.scheme-header p {
  font-size: 1.8rem;
  margin: 4rem 0 12rem 0;
}
.scheme-sequence-block {
  height: 35rem;
  text-align: left;
  margin-bottom: 3rem;
}
.scheme-sequence-block .img {
  height: 13rem;
}
.scheme-sequence-block h4 {
  font-size: 2.2rem;
  font-family: 'ProximaNova_bold', sans-serif;
  margin: 3rem 0;
}
.scheme-sequence-block p {
  font-size: 1.7rem;
}
/* Все на 100% включено!  */
.all_inclusive {
  background: #f5f5f5;
}
.all_inclusive-header {
  text-align: center;
}
.all_inclusive-header h2 {
  color: #358015;
}
.all_inclusive-header p {
  font-size: 1.8rem;
  margin: 4rem 0 12rem 0;
}
.all_inclusive-list-item {
  height: 8rem;
  margin-bottom: 12rem;
}
.all_inclusive-list-item .circle1 {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 2px solid #358015;
  border-radius: 50%;
  padding: 3px;
  float: left;
  margin: 0 2rem 1rem 0;
}
.all_inclusive-list-item .circle1 .circle {
  display: table;
  text-align: center;
  width: 40px;
  height: 40px;
  background-color: #358015;
  border-radius: 50%;
}
.all_inclusive-list-item .circle1 .circle span {
  display: table-cell;
  color: #fff;
  font-size: 2.4rem;
  font-family: 'ProximaNova_bold', sans-serif;
  vertical-align: middle;
}
.all_inclusive-list-item .text {
  position: relative;
  font-size: 1.3rem;
  top: 1.8rem;
}
.all_inclusive-list-item .text strong {
  font-size: 1.6rem;
}
/* Проблемы */
.problem {
  min-height: 88rem;
  position: relative;
}
.problem-bg {
  position: absolute;
  width: 34rem;
  bottom: 0;
  left: 50%;
  transform: translateX(-22rem);
}
.problem-header {
  text-align: center;
  margin: 9rem;
}
.problem-block {
  border: 4px solid #e8e8e8;
  padding: 4rem;
}
.problem-block h3 {
  font-size: 2.4rem;
  color: #313131;
  opacity: 0.5;
  font-family: 'ProximaNova_bold', sans-serif;
  margin-bottom: 4.2rem;
}
.problem-block ul {
  font-size: 1.8rem;
  list-style: none;
}
.problem-block ul li {
  position: relative;
  padding-left: 1rem;
  margin-bottom: 2rem;
}
.problem-block ul li::before {
  content: '';
  display: block;
  background: url(../img/problem/cancel.png) center no-repeat;
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: -4rem;
  top: 50%;
  transform: translateY(-50%);
}
.problem-block2 {
  border: 4px solid #358015;
}
.problem-block2 h3 {
  opacity: 1;
}
.problem-block2 ul li::before {
  background: url(../img/problem/checked.png) center no-repeat;
}
/* Материалы */
.materials {
  background: url(../img/feedback/bg.jpg);
  text-align: center;
}
.materials-header .header {
  font-size: 1.9rem;
  margin: 5rem 0 8rem 0;
}
.materials-block img {
  margin-bottom: 2.5rem;
}
.materials-block-name {
  font-size: 2.2rem;
}
.materials-block p {
  font-size: 1.7rem;
}
.materials-block a {
  display: inline-block;
  color: #70c849;
  font-size: 1.6rem;
  margin: 4rem 0 8rem 0;
  -webkit-text-decoration: underline #e8e8e8;
          text-decoration: underline #e8e8e8;
}
.materials-text {
  margin: 9rem 0;
}
.materials-text p {
  font-size: 2rem;
}
.materials-text a {
  color: #70c849;
}
/* Узри */
.look {
  background: url(../img/bg-iook.jpg) center no-repeat;
  background-size: cover;
}
.look-block1 h1 {
  font-size: 4.2rem;
  font-family: 'ProximaNova_bold', sans-serif;
  margin-bottom: 5rem;
}
.look-block1 p {
  font-size: 2.2rem;
}
/* Всплывающее окно Получить консультацию*/
.popup1 {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup1-content {
  position: fixed;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  top: 10%;
}
.popup1-form1 {
  padding: 3.5rem 5rem;
  z-index: 20;
}
.popup1-close {
  position: absolute;
  top: -0.6em;
  right: -3rem;
  font-size: 3rem;
  color: #fff;
}
.popup1-bg-close {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0);
}
.popup1 p,
.popup1 h4 {
  font-size: 1.8rem;
}
.popup1 h4 {
  font-family: 'ProximaNova_bold', sans-serif;
}
.popup1 p {
  margin-bottom: 3rem;
}
/*Экран md */
@media (max-width: 991px) {
  /* Основные настроики */
  section {
    padding: 8rem 0;
  }
  .tell2 {
    text-align: center;
  }
  .main {
    background-position: right top;
  }
  .main-block1 {
    text-align: center;
  }
  /* Отзывы */
  .feedback-text {
    margin-top: 6rem;
  }
  .feedback-bg {
    left: -25rem;
  }
  /*	Схема работы*/
  .scheme {
    background: none;
  }
  /* Все включено */
  .all_inclusive-list-item {
    margin-bottom: 8rem;
  }
  /* Проблемы */
  .problem-bg {
    display: none;
  }
  .problem-block1 {
    margin-bottom: 5rem;
  }
  /* Узри */
  .look {
    background: url(../img/bg-iook.jpg) top left no-repeat;
  }
}
/* Экран sm */
@media (max-width: 767px) {
  /* Основные настроики */
  section {
    padding: 6rem 0;
  }
  html {
    font-size: 8px;
  }
  .wrap-block {
    text-align: center;
    transform: translateY(3rem);
  }
  .main {
    background-position: left top;
  }
  /* Отзывы */
  .feedback-bg {
    display: none;
  }
  /* Узри */
  .look {
    text-align: center;
  }
  .look-block1 {
    margin-bottom: 2rem;
  }
}
/* Экран */
@media (max-width: 575px) {
  /* Основные настроики */
  section {
    padding: 4rem 0;
  }
  html {
    font-size: 8px;
  }
  .logo {
    text-align: center;
    margin-bottom: 1rem;
  }
  .popup1-content {
    width: 100%;
    height: 100%;
    top: 0;
  }
  .popup1-close {
    top: 0;
    right: 1rem;
    color: #1a1820;
  }
  /* Отзывы */
  .feedback-form .form1-btn {
    width: 100%;
  }
  /*	Схема работы*/
  .scheme-sequence-block {
    height: 40rem;
    text-align: center;
  }
  /* Все включено */
  .all_inclusive-list-item {
    margin-bottom: 6rem;
  }
}
