/* Fonts */
@font-face {
  font-family: 'ProximaNova_bold';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Bold.woff2') format('woff2'), url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf') format('truetype'), url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova_reg';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular.woff2') format('woff2'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Жирный шрифт */
/* Нормальный шрифт */
/* Colors */
/* Basic setting */
html {
  font-size: 9px;
}
body {
  font-family: 'ProximaNova_reg', sans-serif !important;
}
section {
  padding: 10rem 0;
}
.btn1 {
  background-color: #fdb303;
  text-transform: uppercase;
  color: #ffffff;
  font-family: 'ProximaNova_reg', sans-serif;
  font-size: 1.2rem;
  padding: 1rem 3rem;
  border-radius: 7px;
  border: none;
}
.btn1:hover {
  cursor: position;
  background-color: #db9a02;
  color: #ededed;
  transform: scale(1.02);
}
button:focus,
input:focus,
a:focus {
  outline: none;
}
a:hover {
  text-decoration: none;
}
/* Section main */
main {
  padding: 2rem 0;
  background: #ffffff url(../img/bg.png) center top no-repeat;
}
main-header {
  height: 7rem;
}
/* Main-header */
.tell {
  display: inline-block;
  color: #1a1820;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 2rem;
  height: 7rem;
  line-height: 7rem;
  text-align: right;
}
.wrap {
  text-align: right;
  display: table;
  width: 100%;
  height: 7rem;
}
.wrap-block {
  display: table-cell;
  vertical-align: middle;
}
/* Main - Block 1*/
.display1 {
  color: #1a1820;
  margin-bottom: 3rem;
}
.main-block1 {
  /* Заголовок */
  /* Подзоголовок */
  /* Зеленая шняга */
}
.main-block1-titl1 {
  text-transform: uppercase;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 3.5rem;
  margin: 10rem 0 5rem 0;
  line-height: 5.8rem;
}
.main-block1-text1 {
  font-size: 2.4rem;
}
.main-block1-text2 {
  display: inline-block;
  color: #ffffff;
  font-size: 1.8rem;
  background: #70c849;
  padding: 3rem 4rem;
  margin: 6rem 0 3.7rem;
}
.main-block1-text2 strong {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 3rem;
}
.main-block1-text3 {
  text-transform: uppercase;
  font-size: 2.2rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.main-block2 {
  margin-top: 10rem;
}
.main-block2 .form1 {
  padding: 4rem;
  background: #ffffff;
  text-align: center;
  font-family: 'ProximaNova_reg', sans-serif;
  /* Заголовок */
}
.main-block2 .form1 .title2 {
  font-size: 1.8rem;
  margin-bottom: 2.4rem;
}
.main-block2 .form1-label {
  position: absolute;
  font-size: 1.3rem;
  background: #ffffff;
  left: 50%;
  transform: translateX(-50%) translateY(-45%);
  padding: 0.5rem;
}
.main-block2 .form1-input {
  display: block;
  margin: 2.4rem 0;
  width: 100%;
  border: 1px solid #dddddd;
  padding: 1.3rem;
  font-size: 1.8rem;
}
.main-block2 .form1-btn {
  display: block;
  width: 100%;
  height: 6rem;
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
}
.main-block2 .form1 .p {
  font-size: 1.2rem;
}
/*Экран md */
@media (max-width: 991px) {
  .tell2 {
    text-align: center;
  }
  .main {
    background-position: right top;
  }
  .main-block1 {
    text-align: center;
  }
}
/* Экран sm */
@media (max-width: 767px) {
  .wrap-block {
    text-align: center;
    transform: translateY(3rem);
  }
  .main {
    background-position: left top;
  }
  html {
    font-size: 8px;
  }
}
@media (max-width: 575px) {
  html {
    font-size: 7px;
  }
  .logo {
    text-align: center;
    margin-bottom: 1rem;
  }
}
