/* Fonts */
@font-face {
    font-family: 'ProximaNova_bold';
    src: url('../fonts/ProximaNova-Bold.eot');
    src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
        url('../fonts/ProximaNova-Bold.woff') format('woff'),
        url('../fonts/ProximaNova-Bold.ttf') format('truetype'),
        url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova_reg';
    src: url('../fonts/ProximaNova-Regular.eot');
    src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
        url('../fonts/ProximaNova-Regular.woff') format('woff'),
        url('../fonts/ProximaNova-Regular.ttf') format('truetype'),
        url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.bold() {
	font-family: 'ProximaNova_bold', sans-serif;
}/* Жирный шрифт */
.reg() {
	font-family: 'ProximaNova_reg', sans-serif;
}/* Нормальный шрифт */


  /* Цвета */
@btn-color: #fdb303;
@icon-colors: #70c849;
@text-color: #1a1820;
@bg-color1: #dee0d3;
@light: #fff;


/* Основные настроики */
html {
	font-size: 9px;
}

body {
	font-family: 'ProximaNova_reg' , sans-serif !important;
}
section {
	padding: 10rem 0;
}

/* Стиль кнопок */
.btn1 {
	background-color: @btn-color;
	text-transform: uppercase;
	color: @light;
	.reg();
	font-size: 1.3rem;
	padding: 1.4rem 3rem;
	border-radius: 7px;
	border: none;
	&:hover {
		cursor: position;
		background-color: darken(@btn-color, 7%);
		color: darken(@light, 7%);
		transform: scale(1.02);
	}
}

button, input, a, textarea {
	&:focus {
		outline: none;
	}
}

a:hover {
	text-decoration: none;
}
 
/* Section main */
 main {
 	padding: 2rem 0;
 	background: #fff url(../img/bg.png) center top no-repeat;
 	&-header {
 		height: 7rem;
 	}
 }

/* Main-header */
 .tell {
 	display: inline-block;
 	color: @text-color;
 	.bold();
 	font-size: 2rem;
 	height: 7rem;
 	line-height: 7rem;
 	text-align: right;

 }

.wrap {
	text-align: right;
	display: table;
	width: 100%;
	height: 7rem;
	&-block {
		display: table-cell;
		vertical-align: middle;
	}
}
/* Main - Block 1*/
.display1 {
	color: @text-color;
	margin-bottom: 3rem;
}
.main {
	&-block1{
		
		/* Заголовок */
		&-titl1 {
			text-transform: uppercase;
			.bold();
			font-size: 3.5rem;
			margin: 10rem 0 5rem 0;
			line-height: 5.8rem;
		}
		
		/* Подзоголовок */
		&-text1 {
			font-size: 2.4rem;
		}

		/* Зеленая шняга */
		&-text2 {
			display: inline-block;
			color: @light;
			font-size: 1.8rem;
			background: @icon-colors;
			padding: 3rem 4rem; 
			margin: 6rem 0 3.7rem;
			strong {
				.bold();
				font-size: 3rem;
			}
		}

		&-text3 {
				text-transform: uppercase;
				font-size: 2.2rem;
				.bold();
		}
	}

	&-block2 {
		margin-top: 10rem;
	}	
}

.form1 {
	padding: 4rem;
	background: @light;
	 text-align: center; 
	.reg();

	/* Заголовок */
	.title2 {
		font-size: 1.8rem;
		margin-bottom: 2.4rem;
	}
	&-label {
		position: absolute;
		font-size: 1.3rem;	
		background: @light;
		left: 50%;
		transform: translateX(-50%)  translateY(-45%) ;
		padding: 0.5rem;
	}

	&-input {
		display: block;
		margin: 2.4rem 0;
		width: 100%;
		border: 1px solid #dddddd;
		border-radius: 5px;
		padding: 1.3rem;
		font-size: 1.8rem;

	}

	&-btn {
		display: block;
		width: 100%;
		height: 6rem;
		font-size: 1.6rem;
		margin-bottom: 1.5rem;
	}
	.p {
		font-size: 1.2rem;
	}
}



/* Секция с преимуществами */
.plus {
	h2 { font-size: 3.6rem;
		text-align: center;
		margin: 10rem 0 13rem 0;
		.bold();
	}

	&-img {
		img {
			display: block;
			margin: 0 auto;
			height: 6.6rem;
		}
	}

	&-block {
		text-align: center;
		margin: 0 1rem;
		h3{
			.bold();
			font-size: 2rem;
			margin: 6.9rem 0 3.5rem 0;
		}
		
		p {
			font-size: 1.6rem;
			display: block;
			margin: 0 auto;
			width: 25rem;

		}
	}
}

/* Настройки слаидера для секций с преимуществами */
.slick-active {
	outline: none;
}

/* Стрелки слаидера */
.arrow {
	position: absolute;
	z-index: 99;
	top: 50%;
	transform: translateY(-50%);
	border: none;
	width: 3rem;
	height: 3rem;
}

.prev {
	left: 0;
	background: url(../img/larrow.svg) center no-repeat;
	background-size: 70%;
}

.next {
	right: 0;
	background: url(../img/rarrow.svg) center no-repeat;
	background-size: 70%;
}


/* Всплывающее окно Получить консультацию*/
.popup1 {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9;
	background-color: rgba(0, 0, 0, 0.5);
	&-content {
		position: fixed;
		text-align: center;
		left: 50%;
		transform: translateX(-50%);
		top: 10%;
	}
	&-form1 {
		padding: 3.5rem 5rem;
	}
	&-close {
		position: absolute;
		top: -0.6em;
		right: -3rem;
		font-size: 3rem;
		color: @light;
	}
	p, h4 {
		font-size: 1.8rem;
	}
	h4{
		.bold();
	}

	p {
		margin-bottom: 3rem;
	}

}











/*Экран md */
@media (max-width: 991px) {
	.tell2 {
		text-align: center;
	}
	.main{
		background-position: right top;
		&-block1  {
		text-align: center;
		}
	}
}
/* Экран sm */
@media (max-width: 767px) {
	.wrap-block {
		text-align: center;
		transform: translateY(3rem);
	}

	.main {
		background-position: left top;
	}

	html {
		font-size: 8px;
	}
}
/* Экран */
@media (max-width: 575px) {
	html {
		font-size: 8px;
	}
	.logo {
		text-align: center;
		margin-bottom: 1rem;
	}
    .popup1 {
    	&-content {
    		width: 100%;
    		height: 100%;
    		top: 0;
    	}
    	&-close {
    		top: 0;
    		right: 1rem;
    		color: @text-color;
    	}
    }	
}